<div class="max-w-lg mx-auto mt-10 bg-white p-8 rounded-xl shadow shadow-slate-300">
    <h1 class="text-4xl font-medium">OT Calculator</h1>
    <p class="text-slate-500">Calculate your Over Time Working Hours</p>
    <form [formGroup]="timeForm" class="my-10">
        <div class="flex flex-col space-y-5">
            <label for="pInTime">
                <p class="font-medium text-slate-700 pb-2">Enter Punch-In Time</p>
                <input id="pInTime" name="pInTime" type="time" formControlName="pInTime"
                    class="w-full py-3 border border-slate-200 rounded-lg px-3 focus:outline-none focus:border-slate-500 hover:shadow"
                    placeholder="(Ex. 09:32 AM)">
            </label>
            <label for="pOutTime">
                <p class="font-medium text-slate-700 pb-2">Enter Punch-Out Time</p>
                <input id="pOutTime" name="pOutTime" type="time" formControlName="pOutTime"
                    class="w-full py-3 border border-slate-200 rounded-lg px-3 focus:outline-none focus:border-slate-500 hover:shadow"
                    placeholder="(Ex. 09:32 PM)">
            </label>
            <label for="workingHrs">
                <p class="font-medium text-slate-700 pb-2">Enter Working Hours</p>
                <input id="workingHrs" name="workingHrs" type="text" formControlName="workingHrs"
                    class="w-full py-3 border border-slate-200 rounded-lg px-3 focus:outline-none focus:border-slate-500 hover:shadow"
                    placeholder="Enter hours in decimal Ex. 9.5" tabindex="-1"
                    (focusout)="!timeForm.controls.workingHrs.value ? timeForm.controls.workingHrs.setValue(9.5) : ''">
                <p *ngIf="timeForm.controls.workingHrs.invalid" class="mt-2 text-sm text-red-600 dark:text-red-500">
                    <span class="font-medium"></span>Default
                    will be set to 9.5 hours
                </p>
            </label>
            <div class="row-auto">
                <button type="button"
                    class="w-1/2 inline-block px-6 py-2.5 text-white font-medium text-xs leading-tight uppercase rounded-l shadow-md hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg transition duration-150 ease-in-out"
                    [ngClass]="timeForm.invalid ? 'bg-red-700 opacity-75 cursor-not-allowed' : 'bg-blue-600 hover:bg-blue-700 focus:bg-blue-700 active:bg-blue-800'"
                    (click)="getHours()" [disabled]="timeForm.invalid">
                    Submit
                </button>
                <button type="button"
                    class="w-1/2 inline-block px-6 py-2.5 bg-gray-200 text-gray-700 font-medium text-xs leading-tight uppercase rounded-r shadow-md hover:bg-gray-300 hover:shadow-lg focus:bg-gray-300 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-gray-400 active:shadow-lg transition duration-150 ease-in-out"
                    (click)="reset()">
                    Reset
                </button>
            </div>
        </div>
    </form>
    <div class="bg-blue-100 rounded-md p-3 flex" *ngIf="netWorkingHours != null || netWorkingMinutes != null">
        <div class="text-blue-700">
            <div class="font-bold text-xl">
                Total Time : {{ netWorkingHours ? netWorkingHours == 1 ? netWorkingHours + 'Hour' :
                netWorkingHours + ' Hours' : 0 + ' Hours' }}
                {{ netWorkingMinutes != null ? netWorkingMinutes == 1 ? (netWorkingMinutes + ' Minute') :
                (netWorkingMinutes + ' Minutes') : '' }}
            </div>
        </div>
    </div>
    <div class="bg-green-100 rounded-md p-3 flex mt-2" *ngIf="otHours != null || otMinutes != null">
        <div class="text-green-700">
            <div class="font-bold text-xl">Over Time : {{ otHours ? otHours == 1 ? otHours + ' Hour' :
                otHours + ' Hours' : 0 + ' Hours' }}
                {{ otMinutes != null ? otMinutes == 1 ? (otMinutes + ' Minute') :
                (otMinutes + ' Minutes') : '' }}
                <br>
                {{ ' In Decimal : ' + decimalOTHours }}
            </div>
        </div>
    </div>
</div>